$loginBntColor: #e94e38;
$activeColor: #e94e38;
$navLinkColor: #96a6a7;
$searchBgColor: #e2dee0;
$headerFontColor: #fff;
$firstBgColor: #1baf5d;
$secondBgColor: #f19e1f;
$thirdBgColor: #88499c;
$bgColor: #fff;